* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
}

.title {
  width: 100%;
  height: 120px;
  font-size: 72px;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  background: rgb(80, 2, 2);
  font-family: courier, arial, helvética;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 50px 200px;
}

.left-hand-box {
  width: 50%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

.right-hand-box {
  width: 50%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

.left-hand-box:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 13px -7px #000000, -15px -16px 3px -10px rgba(0, 0, 0, 0);
}

.right-hand-box:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 13px -7px #000000, -15px -16px 3px -10px rgba(0, 0, 0, 0);
}

.box-subtitle {
  width: 100%;
  height: 200px;
  color: rgb(80, 2, 2);
  font-size: 65px;
  font-family: courier, arial, helvética;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-container {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.box-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.box-input-title {
  width: 80%;
  height: 50px;
  background: rgb(80, 2, 2);
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: courier, arial, helvética;
  font-weight: bold;
}

.box-input {
  width: 80%;
  height: 70px;
  font-size: 24px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid rgb(80, 2, 2);
}

.btn {
  width: 50%;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
  color: white;
  font-family: courier, arial, helvética;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.btn-add {
  background-color: green;
}

.btn-edit {
  background-color: cornflowerblue;
}

.message-error {
  color: crimson;
  font-size: 18px;
  font-family: courier, arial, helvética;
  font-weight: bold;
}

.box-container-table {
  width: 80%;
  height: 360px;
  margin-bottom: 120px;
}

table {
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgb(80, 2, 2);
}

tbody tr td:nth-child(1), thead tr th:nth-child(1){
    width: 150px;
}

tbody tr td:nth-child(2), thead tr th:nth-child(2){
    width: 220px;
}

tbody tr td:nth-child(3), thead tr th:nth-child(3){
    width: calc(100% - 370px);
    text-align: center;
}

th,
td {
  width: 100px;
}

thead > tr {
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

thead {
  background-color: rgb(80, 2, 2);
}

tr td {
    height: 35px;
    padding: 5px;
    font-size: 20px;
}

thead tr th{
  height: 50px;
  color: white;
  text-align: left;
  font-family: courier, arial, helvética;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
}

.btn-user-update {
    font-size: 25px;
    margin-left: 5px;
}

.btn-user-delete {
    font-size: 25px;
    margin-left: 20px;
}

.btn-user-delete:hover, .btn-user-update:hover {
    cursor: pointer;
}